#title{
    text-align:center;
    padding:25px;
    border-bottom: solid grey;
    margin: 0;
}
h1,h3,h4{
    margin: 0;
}
#grid{
    display:grid;
    grid-template-columns: 200px 1fr;
}
ol, #grid_1{
    margin-top:0px;
    padding-left:30px;
    padding-top:10px;
}
ol{    
    border-right: solid grey; 
}
a{        
    color:black;
    text-decoration-line:none;
}
#grid_1 a{
    text-decoration-line:underline;
}
#grid_1 ol{
    padding-top:0;
    border-right: none;
 }
.img{
    border-bottom:solid black 1.5px;   
}
.img2{
    margin-left:120px; 
}
li{
    padding:3px;
}
@media(max-width:640px){
    #grid{
        display:block;
    }
    ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
        font-size: 25px;
    }
} 